<!DOCTYPE html>
<html lang="uk">
<head>
    {% include "layouts/header.html" %}
    {% block header %}{% endblock header %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}

    {% include "layouts/footer.html" %}
</body>
</html>